<h2>{{course.name}}</h2>

<button ng-click="csv()">Download CSV</button><span> (For import to Google Calendar)</span>

<h3>Modules</h3>
<table class="table table-responsive table-striped">
	<thead>
		<tr><th width="5%">I do</th><th width="20%">Name</th><th>Day</th><th>Times</th></tr>
	</thead>
	<tbody>
		<tr ng-repeat="(key, module) in modules">
			<td><input type="checkbox" ng-init="module[0].use = true" ng-model="module[0].use" ng-click="filterModules()"></td>
			<td>{{module[0].name}}</td>
			<td><div ng-repeat="data in module">{{data.day}}</div></td>
			<td><div ng-repeat="data in module">{{data.time.start}} - {{data.time.end}}</div></td>
			<td><div ng-repeat="data in module">{{data.location}}</div></td>
		</tr>
	</tbody>
</table>